{
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "legacyDecorators": true,
      "jsx": true
    }
  },
  "rules": {
    "comma-dangle": ["error", "always-multiline"]
  },
  "extends": [
    "plugin:@contentful/eslint-config-extension",
    "plugin:@contentful/eslint-config-extension/jest",
    "plugin:@contentful/eslint-config-extension/jsx-a11y",
    "plugin:@contentful/eslint-config-extension/react"
  ]
}
